USE [EZRunnerV3_KawaiLive]
GO
/****** Object:  StoredProcedure [dbo].[sp_WMS_ProductionResultUnschedule_DDL]    Script Date: 8/5/2026 15:22:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [sp_WMS_ProductionResultUnschedule_DDL] '1',''
ALTER     PROCEDURE [dbo].[sp_WMS_ProductionResultUnschedule_DDL]
@Type VARCHAR(1),
@Keyword NVARCHAR(MAX)=''
AS
BEGIN
	IF @Type='1'
	BEGIN
		SELECT RTRIM(Line_Code) LineCode, RTRIM(Line_Name) LineName ,
			   RTRIM(Line_Code) + ' | ' + RTRIM(Line_Name) DDLDescription 
		FROM Manufacture_Line a 
		WHERE COALESCE(Line_Unschedule,'0')='1' and Company_Code='11111' 
		and (A.Line_Code like '%'+ @Keyword +'%' or A.Line_Name like '%'+ @Keyword +'%')
	END	
	ELSE IF @Type='2'
	BEGIN
		/*List Item hanya yg supplier KMK*/
		DECLARE @TradeCode VARCHAR(50)='S0059',
				@Today DATETIME=GETDATE()

		
		SELECT DISTINCT  
			   RTRIM(A.Item_Code) AS ParentItemCode,RTRIM(C.Item_Name) ParentItemName,
			   RTRIM(a.Item_Code) + ' | ' +RTRIM(C.Item_Name) as DDLDescription
		From Price_Master A INNER JOIN BOM_Master B ON A.Item_Code=B.Parent_ItemCode
		LEFT JOIN Item_Master C ON A.Item_Code=C.Item_Code 
		WHERE Trade_Code=@TradeCode AND CONVERT(VARCHAR(8), @Today, 112) BETWEEN A.Start_Date AND A.End_Date
		and (A.Item_Code like '%'+ @Keyword +'%' or C.Item_Name like '%'+ @Keyword +'%')
	END
	
END