USE [EZRunnerV3_KawaiLive]
GO
/****** Object:  StoredProcedure [dbo].[sp_WMS_ProductionResultUnschedule_GetRequirementDetail]    Script Date: 8/5/2026 15:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER   PROCEDURE [dbo].[sp_WMS_ProductionResultUnschedule_GetRequirementDetail]
@LineCode			VARCHAR(25)=NULL,
@ParentItemCode		VARCHAR(50),
@ProductionDate		DATE=NULL,
@QtyInput			NUMERIC(18,5)=NULL
AS
BEGIN
	--DECLARE @ParentItemCode VARCHAR(50)='238988',
	--		@QtyInput INT = 5

	SELECT [No],ItemCode,ItemName,BomQty,QtyRequirement,CurrentStock,Remaining,
		   [Status] = CASE WHEN Remaining>0 THEN 'Available' WHEN Remaining=0 THEN 'Enough' ELSE 'Not Enough' END
	FROM (

			SELECT [No]				= ROW_NUMBER()OVER(ORDER BY a.Parent_ItemCode) ,
				   A.Parent_ItemCode,
				   [ItemCode]		= RTRIM(a.Item_Code),
				   [ItemName]		= RTRIM(b.Item_Name),
				   [BomQty]			= COALESCE(a.Qty,0),
				   [QtyRequirement]	= @QtyInput * COALESCE(a.Qty,0),
				   [CurrentStock]	= COALESCE(c.QtyStock,0),
				   [Remaining]		= COALESCE(c.QtyStock,0) -  (@QtyInput * COALESCE(a.Qty,0))
			FROM BOM_Master a
			LEFT JOIN Item_Master b ON b.Item_Code=a.Item_Code
			LEFT JOIN ( SELECT sd.ItemCode,SUM(Qty) QtyStock FROM StockDetail sd
						WHERE Qty>0 AND Picking_No IS NULL
						GROUP BY sd.ItemCode
					  ) c ON c.ItemCode=a.Item_Code
			WHERE 1=1 and a.Parent_ItemCode=@ParentItemCode --'238988'
		 ) A
	ORDER BY NO
END