USE [EZRunnerV3_KawaiLive]
GO
/****** Object:  StoredProcedure [dbo].[sp_WMS_ProductionResultUnschedule_GetDetailResult]    Script Date: 8/5/2026 15:55:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_WMS_ProductionResultUnschedule_GetDetailResult]
@ProdResultID		BIGINT
AS
BEGIN
	
	SELECT A.ProdResultID,A.ResultDetailID,A.BarcodeNo,a.Qty
	FROM ProductionResultUnschedule_Detail A
	WHERE ProdResultID=@ProdResultID

END