USE [EZRunnerV3_KawaiLive]
GO
/****** Object:  StoredProcedure [dbo].[sp_WMS_ProductionResultUnschedule_Submit]    Script Date: 8/5/2026 15:54:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_WMS_ProductionResultUnschedule_Submit] 
@LineCode		VARCHAR(25),
@ParentItemCode VARCHAR(50),
@QtyInput		  NUMERIC(18,0),
@ProductionDate	  DATE,
@Remarks		  VARCHAR(200)='',
@UserID		  VARCHAR(50)
AS
BEGIN
	--DECLARE @LineCode		VARCHAR(25)='SP-01',
	--		@ParentItemCode VARCHAR(50)='000026',
	--		@QtyInput		INT = 2,
	--		@ProductionDate	DATE='2026-07-27',
	--		@Remarks		VARCHAR(200)='Trial',
	--		@UserID			VARCHAR(50)='admin'
	DECLARE @ErrorMessage NVARCHAR(MAX)=''
	DECLARE @tblConsume TABLE
	(
		Urutan int, 
		RefNo varchar(50), WarehouseCode varchar(25), AreaCode varchar(25), AddressCode varchar(25), 
		BarcodeNo varchar(50), LotNo varchar(100), ItemCode varchar(25),QtyBom numeric(18,5),RequirementQty numeric(18,5),TotalQty numeric(18,9),QtyBefore numeric(18,9), QtyAfter numeric(18,9), QtyConsume numeric(18,9)
	)

	
	
	DECLARE @ItemName VARCHAR(200)=''
	SELECT TOP 1 @ItemName = RTRIM(Item_Name )
	FROM (
			SELECT  A.Parent_ItemCode,
					[ItemCode]		= RTRIM(a.Item_Code),
					b.Item_Name,
					[BomQty]		= COALESCE(a.Qty,0),
					[QtyRequirement]= @QtyInput * COALESCE(a.Qty,0),
					[CurrentStock]	= COALESCE(c.QtyStock,0),
					[Remaining]		= COALESCE(c.QtyStock,0) -  (@QtyInput * COALESCE(a.Qty,0))
			FROM BOM_Master a
			LEFT JOIN Item_Master b ON b.Item_Code=a.Item_Code
			LEFT JOIN ( SELECT sd.ItemCode,SUM(Qty) QtyStock FROM StockDetail sd
						WHERE Qty>0 AND Picking_No IS NULL
						GROUP BY sd.ItemCode
						) c ON c.ItemCode=a.Item_Code
			WHERE 1=1 and a.Parent_ItemCode=@ParentItemCode --'238988'
		) A
	WHERE Remaining<0

	IF COALESCE(@ItemName,'')<>''
	BEGIN
		SELECT @ErrorMessage='Cannot generate production result ! Unsufficient Material ( '+ @ItemName +' ).'
		RAISERROR(@ItemName,16,1)
		RETURN
	END

	IF @QtyInput>0 
	BEGIN
		BEGIN TRY
			
			--==================================================================================================
			-- 1). MAPPING WAREHOUSE , AREA , ADDRES HASIL PRODUKSI
			--==================================================================================================

			DECLARE @WarehouseCodeProd VARCHAR(15),@AreaCodeProd VARCHAR(15), @AddressCodeProd VARCHAR(15)
			SELECT TOP 1  @WarehouseCodeProd=WarehouseCode, @AreaCodeProd=AreaCode,@AddressCodeProd=AddressCode
			FROM Production_Mapping
			WHERE LineCode=@LineCode

			IF COALESCE(@WarehouseCodeProd,'')=''
			BEGIN
				RAISERROR( 'Production Mapping is not set!', 16,1)
				RETURN
			END

			--==================================================================================================
			-- 2). GENERATE PALLET NO --> FOR STOCKDETAIL/STOCKHEADER COLUMN REFNO
			--==================================================================================================
			DECLARE @TablePallet TABLE(PalletNo VARCHAR(100))	
			DECLARE @ToPalletNo VARCHAR(100)
			INSERT INTO @TablePallet
            EXEC sp_Wms_Stock_GeneratePalletNo 'PRU' --PRODUCTION UNSCHEDULE
            SELECT @ToPalletNo = PalletNo FROM @TablePallet


			--==================================================================================================
			-- 3). PRODUCTION RESULT HEADER / DETAIL / STOCK / CONSUMPTION
			--==================================================================================================
			DECLARE @ProdResultID BIGINT,@ResultDetailID BIGINT

			DECLARE  @FactoryCode	VARCHAR(25)
					,@PrefixFactory VARCHAR(5)
					,@NewBarcode	VARCHAR(50)
					,@Date			DATE
					,@PrefixBarcode VARCHAR(30)
					,@LotNo			Varchar(100)

			SELECT TOP 1 @FactoryCode = Company_Code from Manufacture_Line where Line_Code = @LineCode
			SELECT @PrefixFactory = PrefixGlobalBarcode
			FROM Company_Profile
			WHERE Company_Code = @FactoryCode

			--======================================================================================================================================================================
			-- 3a). PRODUCTION RESULT HEADER
			--======================================================================================================================================================================
			BEGIN
				IF NOT EXISTS(SELECT TOP 1 1 FROM ProductionResultUnschedule_Header a WHERE A.LineCode=@LineCode AND ItemCode=@ParentItemCode AND ProductionDate=@ProductionDate)
				BEGIN
					--PRINT('INSERT')
					INSERT INTO ProductionResultUnschedule_Header( LineCode, ProductionDate, ItemCode, TotalGoodQty, TotalNGQty, Remarks, RegisterDate, RegisterUser)
					VALUES(@LineCode,@ProductionDate,@ParentItemCode,@QtyInput,NULL,@Remarks,GETDATE(),@UserID)

					SET @ProdResultID = SCOPE_IDENTITY()

				END
				ELSE
				BEGIN
					--PRINT('UPDATE')
					UPDATE ProductionResultUnschedule_Header
					SET TotalGoodQty=TotalGoodQty+@QtyInput,LastUpdate=GETDATE(),LastUser=@UserID
					WHERE ProductionDate=@ProductionDate AND LineCode=@LineCode AND ItemCode=@ParentItemCode

					SELECT TOP 1 @ProdResultID = ProdResultID FROM ProductionResultUnschedule_Header WHERE ProductionDate=@ProductionDate AND LineCode=@LineCode AND ItemCode=@ParentItemCode
				END
			END

			--SELECT @ProdResultID


			--======================================================================================================================================================================
			-- 3b). PRODUCTION RESULT DETAIL
			--======================================================================================================================================================================
			BEGIN
				SET @Date = GETDATE() 
				SET @prefixBarcode = @prefixFactory + 'PRU' + FORMAT(@Date,'yyyyMMdd')

				EXEC dbo.GenerateNumerator
					@Prefix = @PrefixBarcode,
					@LengthSequence = 4,
					@Result = @NewBarcode OUTPUT

				SET @LotNo = 'L-' + CAST(@ProdResultID AS VARCHAR)+'.' + FORMAT(@ProductionDate,'yyyyMMdd')

				INSERT INTO ProductionResultUnschedule_Detail(ProdResultID, BarcodeNo, LotNo, Qty, ResultType, Registerdate, RegisterUser, PrintStatus, PrintDate, FlagConsump, FlagConsumpDate)
				VALUES(@ProdResultID,@NewBarcode,@LotNo,@QtyInput,'GOOD',GETDATE(),@UserID,NULL,NULL,1,GETDATE())

				SET @ResultDetailID=SCOPE_IDENTITY()
				

				-- ==========================================================
				-- INSERT STOCK DETAIL
				-- ==========================================================
				INSERT INTO StockDetail
				( RefNo, WarehouseCode, AreaCode, AddressCode, BarcodeNo, ItemCode, LotNo, SublotNo, Qty, InventoryQty, ExpiredDate, ProductionDate, ReceiptDate, Supplier, PrintCls, 
				  DisposalCls, StatusReceipt, Picking_No, RegisterDate, RegisterUser)
				SELECT  TOP 1 RefNo=@ToPalletNo,WarehouseCode= @WarehouseCodeProd, 
							 AreaCode=@AreaCodeProd, AddressCode=@AddressCodeProd, 
							 @NewBarcode, @ParentItemCode, @LotNo,  SublotNo=NULL,
							 @QtyInput,   
							 InventoryQty= NULL , ExpiredDate=NULL, ProductionDate=@ProductionDate, 
							 ReceiptDate=NULL, Supplier=NULL, PrintCls=NULL, 
							 DisposalCls=NULL, StatusReceipt='OK', Picking_No=NULL, GETDATE(), @UserId 
	 
				-- ==========================================================
				-- UPSERT STOCK HEADER
				-- ========================================================== 
				EXEC sp_Wms_Stock_UpSertStockHeader  @Date, @ToPalletNo,  @WarehouseCodeProd, @AreaCodeProd, @ParentItemCode, @LotNo, @QtyInput, NULL, 'R', @UserId
			END	

			--======================================================================================================================================================================
			-- 3c). MATERIAL CONSUMPTION
			--======================================================================================================================================================================
			BEGIN
				
				;with cteStokProdUnsch as 
				(
					select 
						sd.RefNo, sd.WarehouseCode, sd.AreaCode, sd.AddressCode, sd.BarcodeNo, sd.LotNo, sd.ItemCode,bom.QtyBom, sd.Qty,
						SUM(sd.Qty) OVER (PARTITION BY sd.ItemCode ORDER BY BarcodeNo) AS running_qty
					From StockDetail sd
					inner join 
					(
						select Item_Code,Qty AS QtyBom From BOM_Master 
						where Parent_ItemCode = @ParentItemCode
					) bom on sd.ItemCode = bom.Item_Code 
					where 1=1
					and sd.Picking_No IS NULL
					and sd.Qty > 0 
				)
				--select * from cteStokProdUnsch;
				insert into @tblConsume
				select 
						row_number() over (order by res.Qty) Urutan, RefNo, WarehouseCode, AreaCode, AddressCode, 
						BarcodeNo, LotNo, ItemCode, 
						QtyBom,
						RequirementQty,
						TotalQty= (select sum(qty) from StockDetail x where x.ItemCode=res.ItemCode and x.Qty>0 and x.Picking_No is null),
						QtyBefore = Qty,QtyAfter = (Qty - QtyConsume), QtyConsume 
				From 
				(
					SELECT 
						a.*,
						CASE 
							WHEN a.running_qty - a.Qty >= b.RequirementQty THEN 0
							WHEN a.running_qty <= b.RequirementQty THEN Qty
							ELSE b.RequirementQty - (a.running_qty - a.Qty)
						END AS QtyConsume,b.RequirementQty
					FROM cteStokProdUnsch a
					inner join
					(
						select Item_Code, Qty * @QtyInput RequirementQty 
						From BOM_Master where Parent_ItemCode = @ParentItemCode
					)  b on a.ItemCode = b.Item_Code
				) res 
				where QtyConsume > 0
				order by ItemCode

				insert into ReceiptSupplyHistory 
				(
					[Status], ProcessMenu, RefNo, 
					WarehouseCode, AreaCode, AddressCode, ItemCode, BarcodeNo, LotNo, RefBarcodeNo,
					QtyTrans, Remarks, ReferenceNo, LogDate, UserID
				)
				select 
					'OUT', 'Production Unschedule', c.RefNo, 
					c.WarehouseCode, c.AreaCode, c.AddressCode, c.ItemCode, c.BarcodeNo, c.LotNo, @NewBarcode,
					c.QtyConsume, 'Consume Material Production Unschedule : ' + @NewBarcode , @ProdResultID, getdate(), 'PU-CONSUME'
				from @tblConsume c

				update sd
				set sd.Qty = x.QtyAfter, Lastupdate = getdate(), LastUser = 'PU-CONSUME'
				From StockDetail sd
				inner join @tblConsume x 
				on sd.RefNo = x.RefNo and sd.WarehouseCode = x.WarehouseCode and sd.AreaCode = x.AreaCode and sd.AddressCode = x.AddressCode
				and sd.BarcodeNo = x.BarcodeNo and sd.ItemCode = x.ItemCode and sd.LotNo = x.LotNo
				and sd.Picking_No IS NULL 
				and sd.Qty>0

				update sh
					set 
						sh.TMSupply = isnull(sh.TmSupply, 0) + TotalSupply, 
						sh.TMCurrent = isnull(sh.TMCurrent,0) - TotalSupply, 
						sh.NMPreMonth = isnull(sh.NMPreMonth,0) - TotalSupply, 
						sh.NMCurrent = isnull(sh.NMCurrent,0) - TotalSupply,
						Lastupdate = getdate(), LastUser = 'PU-CONSUME'
				From StockHeader sh
				inner join 
				(	
					select RefNo, WarehouseCode, AreaCode, ItemCode, LotNo, sum(QtyConsume) TotalSupply From @tblConsume 
					group by RefNo, WarehouseCode, AreaCode, ItemCode, LotNo
				) x 
				on sh.RefNo = x.RefNo and sh.WarehouseCode = x.WarehouseCode and sh.AreaCode = x.AreaCode and sh.ItemCode = x.ItemCode and sh.LotNo = x.LotNo

				INSERT INTO MaterialConsumptionDetail
				(
					ResultDetailID,BarcodeMaterial,MaterialCode,MaterialName,LotNo,QtyUsed,RegisterUser,RegisterDate,Status
				)
				SELECT @ResultDetailID,BarcodeNo,ItemCode,Item_Name,a.LotNo,a.QtyConsume,@UserID,GETDATE(),'PU-CONSUME' FROM @tblConsume a LEFT JOIN Item_Master b ON b.Item_Code=a.ItemCode

				INSERT INTO ProductionResultUnschedule_History(ResultDetailID, ParentItemCode, ItemCode, QtyBom, QtyInput, QtyRequirement, QtyStock, QtyUsed, RegisterDate, RegisterUser)
				SELECT @ResultDetailID,@ParentItemCode,A.ItemCode,A.QtyBom,@QtyInput,RequirementQty,QtyBefore,QtyConsume,GETDATE(),@UserID FROM @tblConsume a LEFT JOIN Item_Master b ON b.Item_Code=a.ItemCode

			END



		END TRY
		BEGIN CATCH
			SET @ErrorMessage=ERROR_MESSAGE()
			RAISERROR(@ErrorMessage,16,1)
			RETURN
		END CATCH

	END
	ELSE
	BEGIN
		RAISERROR('Qty Input must greatet than zero',16,1)
		RETURN
	END
END