USE [EZRunnerV3_KawaiLive]
GO
/****** Object:  StoredProcedure [dbo].[sp_WMS_ProductionResultUnschedule_GetListData]    Script Date: 8/5/2026 15:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_WMS_ProductionResultUnschedule_GetListData]
@LineCode			VARCHAR(25),
@ParentItemCode		VARCHAR(50),
@DateFrom			DATE,
@DateTo				DATE
AS
BEGIN
	
	--DECLARE
	--@LineCode			VARCHAR(25)='SP-01',
	--@ParentItemCode		VARCHAR(50)='000026',
	--@DateFrom			DATE='2026-07-27',
	--@DateTo				DATE='2026-07-27'


	DECLARE @Today AS DATE=GETDATE()

	SELECT 
		   a.ProdResultID,
		   a.LineCode,
		   LineName=RTRIM(C.Line_Name),
		   ParentItemCode=RTRIM(a.ItemCode),
		   ParentItemName=RTRIM(d.Item_Name),
		   ProductionDate,
		   b.LotNo,
		   Qty = a.TotalGoodQty,
		   [Status]=CASE WHEN ProductionDate<@Today THEN 'Completed' ELSE 'Open' END,
		   a.Remarks
	FROM ProductionResultUnschedule_Header A
	JOIN (SELECT ProdResultID,LotNo,SUM(Qty) QtyDetail FROM ProductionResultUnschedule_Detail GROUP BY ProdResultID,LotNo) B ON B.ProdResultID=A.ProdResultID
	LEFT JOIN Manufacture_Line C ON C.Line_Code=A.LineCode
	LEFT JOIN Item_Master D ON D.Item_Code=A.ItemCode
	WHERE A.LineCode=@LineCode 
	 AND (A.ItemCode=@ParentItemCode OR @ParentItemCode='ALL' )
	 AND (A.ProductionDate>=@DateFrom and a.ProductionDate<=@DateTo)

END