USE [EZRunnerV3_KawaiLive]
GO
/****** Object:  StoredProcedure [dbo].[sp_Wms_WorkStationSetting_Upd]    Script Date: 2/25/2026 14:12:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_Wms_WorkStationSetting_Upd]
	
	@LineCode varchar(100),
	@WorkStationCode varchar(100),
	@StoppointCode varchar(25),
	@AllowSetting bit,
	@UserID varchar(25) 
as 
if @AllowSetting = 1
	begin
		 insert into WorkStationLineSetting (
			LineCode,
			WorkStationCode,
			StopPointCode,
			Barcode,
			RegisterDate,
			RegisterUser,
			LastUpdate,
			LastUser) values 
			(@LineCode , @WorkStationCode ,@StoppointCode, RTRIM(@LineCode) + RTRIM(@WorkStationCode), Getdate(),@UserID , NULL, NULL)
	 
	End
   
--delete from SS_UserPrivilege where UserID = @UserID
--delete from SS_UserWarehousePrivilege where UserID = @UserID


